/* ---- Fonts ----- */
/*
font-family: "Fjalla One", sans-serif;
font-family: "Italiana", sans-serif;
font-family: "Nunito", sans-serif;
*/

/* ---- Colors ----- */
/*
accent-color: #47150A;
light-colors: #E0DFDA, #D2CBAF;
dark-colors: #868174, #A18C74;
*/

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

h1 {
  max-width: 100%;
  color: #47150a;
  font-family: "Italiana", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

p {
  margin: 0;
  margin-top: 0.8em;
  color: #868174;
}

/* ---- Nav-bar----- */
nav {
  display: flex;
  background-color: #d2cbaf;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 0.6em 2em;
}

.logo img {
  float: left;
  width: 80px;
  height: auto;
}

.nav-items {
  display: flex;
  padding: 0.6em 5em;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #a18c74;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.03em;
  margin-right: 1em;
}

.nav-items a:hover {
  padding: 0.5em 0.7em;
  border: 0.1em solid #a18c74;
  border-radius: 90px;
  transition: 0.5s;
}

.nav-items ul {
  display: flex;
}

.nav-items ul li {
  margin-left: 20px;
}

ul {
  list-style-type: none;
}

.nav-button {
  display: flex;
  padding: 0.6em 5em;
  margin-left: auto;
  margin-bottom: 5px;
  margin-top: 10px;
  align-items: center;
}

.nav-search,
.nav-contact {
  background-color: #a18c74;
  padding: 10px 20px;
  border-radius: 360px;
  margin-right: 10px;
  height: fit-content;
  width: fit-content;
}

.nav-search img,
.nav-contact img {
  width: 20px;
  height: 20px;
  display: block;
}

/* ---- HEADER ----- */

.title-container {
  margin: 0 auto;
  text-align: center;
  padding: 3em;
}

.title-container p {
  margin: 0 auto;
  max-width: 28%;
}

/* ---- FORM SECTION ----- */

.form-section {
  width: 100%;
  padding: 3em 0;
  background-image: url(../Images/Form-section.jpg);
  background-size: cover;
}

.form-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 65%;
  background-color: #ffffffe6;
  border-radius: 47px;
  box-shadow: 0px 0px 7px 0px #a18c74;
} /* <---- white form container for inputs ----- */

.form-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
} /* <---- Collumn with all inputs ----- */

.row {
  width: 85%;
  display: flex;
  padding: 1em 2em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Fjalla One", sans-serif;
  color: #a18c74;
  font-size: 1.5rem;
} /* <---- class that is used for inputs and select forms ----- */

label {
  margin: 0;
}

.label-8 {
  margin: 0 auto;
  padding-top: 1.7em;
  justify-content: center;
  align-items: center;
}

input,
select {
  width: 100%;
  margin-top: -1em;
  padding: 0.6em 1em;
  border: none;
  border-radius: 360px;
  background: #e0dfda;
}

/* ---- SELECT SETTINGS ----- */

select {
  width: 115%;
  color: #a18c74;
}

select {
  background: #e0dfda url(../Images/arrow-botton-icon.png);
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 92%;
}
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
  appearance: none;
}

/* for IE10 */
select::-ms-expand {
  display: none;
}

/* ---- INPUT (date) SETTINGS ----- */

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type="date"] {
  background: #e0dfda url(../Images/calendar-icon.png);
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 92%;
}

input[type="date"]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}

input[type="date"]::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}

/* ---- INPUT (time) SETTINGS ----- */

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* ---- INPUT SETTINGS ----- */

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="time"],
select {
  color: #a18c74;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

::placeholder {
  color: #868174;
}

/* ---- INFO SECTION ----- */

.info-container {
  max-width: 65%;
  margin: 0 auto;
  padding: 2.5em 0;
}

h2 {
  margin: 0;
  color: #a18c74;
  font-family: "Fjalla One", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.info-container p {
  font-size: 1rem;
}

.form-container a {
  color: white;
  background-color: #47150a;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5em 1.2em;
  border-radius: 360px;
  font-size: 1.3rem;
}

.form-container a:hover,
.form-container a:focus {
  color: #47150a;
  background-color: #d2cbaf;
  border: 1px solid #47150a;
}

/* ---- FOOTER ----- */

footer {
  background: #d2cbaf;
  color: #868174;
}

.footer-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .footer-container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
  }
}

.col {
  max-width: 30%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .col-3 {
    margin-bottom: 1.7em;
  }

  .col-2 {
    margin-bottom: 1.7em;
  }
}

.col-title {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.col-title p {
  margin: 0;
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer-container ul {
  padding-inline-start: 0;
  margin: 0;
}

.footer-container li {
  list-style: none;
}

.col-2 a {
  text-decoration: none;
  color: #868174;
}

.col-2 a:hover,
.col-2 a:focus {
  text-decoration: none;
  color: #868174;
}

.col-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container img {
  width: 30px;
  height: auto;
  margin: 0 1em;
}
