/* ---- Layout----- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Fjalla One", "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #272727;
  background-color: #fff;
}
/* ---- Nav-bar----- */
nav {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 0.6em 2em;
}

.logo img {
  float: left;
  width: 80px;
  height: auto;
}

.nav-items {
  display: flex;
  padding: 0.6em 5em;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #a18c74;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.03em;
  margin-right: 1em;
}

.nav-items a:hover {
  padding: 0.5em 0.7em;
  border: 0.1em solid #a18c74;
  border-radius: 90px;
  transition: 0.5s;
}

.nav-items ul {
  display: flex;
}

.nav-items ul li {
  margin-left: 20px;
}

ul {
  list-style-type: none;
}

.nav-button {
  display: flex;
  padding: 0.6em 5em;
  margin-left: auto;
  margin-bottom: 5px;
  margin-top: 10px;
  align-items: center;
}

.nav-search,
.nav-contact {
  background-color: #a18c74;
  padding: 10px 20px;
  border-radius: 360px;
  margin-right: 10px;
  height: fit-content;
  width: fit-content;
}

.nav-search img,
.nav-contact img {
  width: 20px;
  height: 20px;
  display: block;
}

@media (max-width: 675px) {
  .navitems ul {
    flex-direction: column;
  }

  .navitms ul li {
    margin: 0.5em 0;
  }
}
/* ---- Header ----- */
.header-section {
  display: flex;
  width: 100%;
}
header {
  background-color: #d2cbaf;
}
.header-title {
  padding: 40px 0;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.header-content p {
  margin: 0;
  margin-top: -1em;
  text-align: center;
  color: #868174;
  font-family: Nunito;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  margin: 0;
  color: #47150a;
  font-family: "Italiana", sans-serif;
  font-size: 6rem;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}
/* ---- Section ----- */

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
  max-width: 90%;
  margin: 0 auto;
}

.box {
  max-width: 25%;
  background-color: white;
  color: #2c2727;
  border-radius: 15px;
  margin: 15px;
  height: auto;
}

.box img {
  height: 370px;
  width: 100%;
  margin-bottom: 5px;
  background-size: cover;
  transition: width 2s;
}
img:hover {
    width: 300px;
}
.img-title h2 {
  text-align: center;
  color: #a18c74;
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.img-desc {
  text-align: center;
  color: #a18c74;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 100;
}
@media (max-width: 500px) {
  .header-section,
  .content-container,
  .footer-container nav {
    flex-direction: row;
    padding-top: 20px;
    text-align: center;
  }

  .box {
    display: block;
    text-align: center;
  }
}

/* ---- FOOTER ----- */

footer {
  background: #d2cbaf;
  color: #868174;
}

.footer-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .footer-container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
  }
}

.col {
  max-width: 30%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .col-3 {
    margin-bottom: 1.7em;
  }

  .col-2 {
    margin-bottom: 1.7em;
  }
}

.col-title {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.col-title p {
  margin: 0;
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer-container ul {
  padding-inline-start: 0;
  margin: 0;
}

.footer-container li {
  list-style: none;
}

.col-2 a {
  text-decoration: none;
  color: #868174;
}

.col-2 a:hover,
.col-2 a:focus {
  text-decoration: none;
  color: #868174;
}

.col-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container img {
  width: 30px;
  height: auto;
  margin: 0 1em;
}

footer li,
footer p,
footer a {
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}
