/* ---- Fonts ----- */
/*
font-family: "Fjalla One", sans-serif;
font-family: "Italiana", sans-serif;
font-family: "Nunito", sans-serif;
*/

/* ---- Colors ----- */
/*
accent-color: #47150A;
light-colors: #E0DFDA, #D2CBAF;
dark-colors: #868174, #A18C74;
*/

body {
  margin: 0;
  font-family: "Fjalla One", "Italiana", "Nunito", sans-serif;
  background-color: #d2cbaf;
  color: #a18c74;
}

/* --- NAV-bar with logo, links to all pages, search and contact us --- */

nav {
  display: flex;
  background-color: white;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.logo img {
  float: left;
  width: 80px;
  height: auto;
  margin-top: 10px;
}

.nav-items {
  display: flex;
  width: 800px;
  height: 55px;
  padding: 20px 200px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #a18c74;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Nunito", sans-serif;
}

.nav-items a:hover {
  color: lightblue;
}

.nav-items ul {
  display: flex;
}

.nav-items ul li {
  margin-left: 20px;
}

ul {
  list-style-type: none;
}

.nav-button {
  display: flex;
  padding: 40px 60px;
  gap: 5px;
  margin-left: auto;
  margin-bottom: 5px;
  margin-top: 10px;
  align-items: center;
}

.nav-search,
.nav-contact {
  background-color: #868174;
  padding: 10px 20px;
  border-radius: 360px;
  margin-right: 10px;
  height: fit-content;
  width: fit-content;
}

.nav-search img,
.nav-contact img {
  width: 20px;
  height: 20px;
  display: block;
}

/* --- Header with title and text --- */

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 1440px;
  padding: 50px;
  background-color: #d2cbaf;
  background-image: url("/Images/2-background.jpg");
  background-size: cover;
  background-position: top center;
}

.header-container::before {
  position: absolute;
  content: " ";
}

.title {
  text-align: center;
  height: 200px;
  font-family: "Italiana";
  color: #47150a;
  font-weight: 400;
  font-size: 96px;
}

.sub-title {
  text-align: center;
  height: 100 px;
  font-family: "Italiana";
  color: #47150a;
  font-weight: 400;
  font-size: 36px;
}

.kits {
  display: flex;
  align-items: flex-start;
}

.kit-text {
  width: 700px;
}
.kit-image {
  padding: 10px 20px;
  margin: 10px;
  width: 220px;
  height: 220px;
}

.kit-image img {
  max-width: 100%;
  height: auto;
}
