/* ---- Fonts ----- */
/*
font-family: "Fjalla One", sans-serif;
font-family: "Italiana", sans-serif;
font-family: "Nunito", sans-serif;
*/

/* ---- Colors ----- */
/*
accent-color: #47150A;
light-colors: #E0DFDA, #D2CBAF;
dark-colors: #868174, #A18C74;
*/

body {
  margin: 0;
  font-family: "Fjalla One", "Italiana", "Nunito", sans-serif;
  background-color: #d2cbaf;
  color: #a18c74;
}

/* --- NAV-bar with logo, links to all pages, search and contact us --- */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83px;
  color: #a18c74;
}

/* --- NAV-bar company logo --- */

.logo {
  width: 128px;
  height: 83px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

/* --- NAV-bar navigation links list --- */

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 214px;
}

.nav-items {
  list-style-type: none;
  margin: 40px;
  padding: 40px;
}

/* --- NAV-bar search field and contact us button images --- */

.nav-button {
  display: flex;
  padding: 21px 43px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* --- Header with title and text --- */

h1 {
  font-family: "Italiana", sans-serif;
  color: #47150a;
  font-weight: 400;
  font-size: 96px;
}

h3 {
  font-family: "Italiana", sans-serif;
  color: #47150a;
  font-weight: 400;
  font-size: 36px;
}

.kits {
  display: flex;
  align-items: flex-start;
}

.kit-text {
  width: 700px;
}
.kit-image {
  width: 220px;
  height: 220px;
}

.kit-image img {
  max-width: 100%;
  height: auto;
}
