/* ---- Fonts ----- */
/*
font-family: "Fjalla One", sans-serif;
font-family: "Italiana", sans-serif;
font-family: "Nunito", sans-serif;
*/

/* ---- Colors ----- */
/*
accent-color: #47150A;
light-colors: #E0DFDA, #D2CBAF;
dark-colors: #868174, #A18C74;
*/

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

h1 {
  max-width: 100%;
  color: #47150a;
  font-family: "Italiana", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  text-shadow: 2px 2px 5px #e0dfda;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  margin: 0;
  font-weight: normal;
}

section {
  max-width: 70%;
  margin: 0 auto;
  padding: 3em 0;
  background-color: #d2cbaf;
}

/* ---- Nav-bar----- */
nav {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 0.6em 2em;
}

.logo img {
  float: left;
  width: 80px;
  height: auto;
}

.nav-items {
  display: flex;
  padding: 0.6em 5em;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #a18c74;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.03em;
  margin-right: 1em;
}

.nav-items a:hover {
  padding: 0.5em 0.7em;
  border: 0.1em solid #a18c74;
  border-radius: 90px;
  transition: 0.5s;
}

.nav-items ul {
  display: flex;
}

.nav-items ul li {
  margin-left: 20px;
}

ul {
  list-style-type: none;
}

.nav-button {
  display: flex;
  padding: 0.6em 5em;
  margin-left: auto;
  margin-bottom: 5px;
  margin-top: 10px;
  align-items: center;
}

.nav-search,
.nav-contact {
  background-color: #a18c74;
  padding: 10px 20px;
  border-radius: 360px;
  margin-right: 10px;
  height: fit-content;
  width: fit-content;
}

.nav-search img,
.nav-contact img {
  width: 20px;
  height: 20px;
  display: block;
}

/* --- Header with title and text --- */
header {
  max-width: 100%;
  background: #d2cbafb7;
}

.head-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}

.head-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("/Images/2-background.jpg");
  background-size: cover;
  background-position: top center;
  opacity: 20%;
}

.title {
  position: relative;
  text-align: center;
  margin: 0;
}

.sub-title p {
  margin-top: -0.5em;
  position: relative;
  text-align: center;
  height: 100px;
  font-family: "Nunito", sans-serif;
  color: #47150a;
  text-shadow: 2px 2px 5px #e0dfda;
  font-weight: 400;
  font-size: 17px;
}
/* --- Page Content ---  */
section {
  max-width: 100%;
  padding: 3em 0;
}

.kits-section {
  max-width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1.5em;
  background-color: #a18c74;
  border-radius: 20px;
}

.kit-text {
  max-width: 75%;
  font-family: "Fjalla One", sans-serif;
  color: #47150a;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

.kit-para {
  margin: 1em 0;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  color: #e0dfda;
  text-shadow: 2px 2px 5px #47150a;
}

.kit-image {
  width: 220px;
  height: 220px;
}

.kit-image img {
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
}

.kits-section a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5em 1.2em;
  border-radius: 360px;
  font-size: 1.3rem;
  color: #47150a;
  background-color: #d2cbaf;
  border: 1px solid #47150a;
}

.kits-section a:hover,
.kits-section a:focus {
  color: #d2cbaf;
  background-color: #47150a;
  border: 1px solid #d2cbaf;
}

/* --- FOOTER --- */

footer {
  background: #d2cbaf;
  color: #868174;
}

.footer-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .footer-container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
  }
}

.col {
  max-width: 30%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .col-3 {
    margin-bottom: 1.7em;
  }

  .col-2 {
    margin-bottom: 1.7em;
  }
}

.col-title {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #868174;
}

.col-title p {
  margin: 0;
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer-container ul {
  padding-inline-start: 0;
  margin: 0;
}

.footer-container li {
  list-style: none;
}

.col-2 a {
  text-decoration: none;
  color: #868174;
}

.col-2 a:hover,
.col-2 a:focus {
  text-decoration: none;
  color: #868174;
}

.col-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container img {
  width: 30px;
  height: auto;
  margin: 0 1em;
}
