/* ---- Nav-bar----- */
nav {
    display: flex;
    background-color: white;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.logo img {
    float: left;
    width: 80px;
    height: auto;
    margin-top: 10px;
}

.nav-items {
    display: flex;
    width: 800px;
    height: 55px;
    padding: 20px 200px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-items a {
    text-decoration: none;
    color: #A18C74;
    font-size: 20px;
    font-weight: lighter;
    font-family: "Nunito", sans-serif;
}

.nav-items a:hover {
    color: lightblue;
}

.nav-items ul {
    display: flex;
}

.nav-items ul li {
    margin-left: 20px;
}

ul {
    list-style-type: none;
}

.nav-button {
    display: flex;
    padding: 40px 60px;
    gap: 5px;
    margin-left: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    align-items: center;
}

.nav-search,
.nav-contact {
    background-color: #868174;
    padding: 10px 20px;
    border-radius: 360px;
    margin-right: 10px;
    height: fit-content;
    width: fit-content;

}

.nav-search img,
.nav-contact img {
    width: 20px;
    height: 20px;
    display: block;
}