/* ---- Fonts ----- */
/*
font-family: "Fjalla One", sans-serif;
font-family: "Italiana", sans-serif;
font-family: "Nunito", sans-serif;
*/

/* ---- Colors ----- */
/*
accent-color: #47150A;
light-colors: #E0DFDA, #D2CBAF;
dark-colors: #868174, #A18C74;
*/

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #868174;
}

section {
  max-width: 70%;
  margin: 0 auto;
  padding: 3em 0;
}

/* ---- Nav-bar----- */
nav {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 0.6em 2em;
}

.logo img {
  float: left;
  width: 80px;
  height: auto;
}

.nav-items {
  display: flex;
  padding: 0.6em 5em;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #a18c74;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.03em;
  margin-right: 1em;
}

.nav-items a:hover {
  padding: 0.5em 0.7em;
  border: 0.1em solid #a18c74;
  border-radius: 90px;
  transition: 0.5s;
}

.nav-items ul {
  display: flex;
}

.nav-items ul li {
  margin-left: 20px;
}

ul {
  list-style-type: none;
}

.nav-button {
  display: flex;
  padding: 0.6em 5em;
  margin-left: auto;
  margin-bottom: 5px;
  margin-top: 10px;
  align-items: center;
}

.nav-search,
.nav-contact {
  background-color: #a18c74;
  padding: 10px 20px;
  border-radius: 360px;
  margin-right: 10px;
  height: fit-content;
  width: fit-content;
}

.nav-search img,
.nav-contact img {
  width: 20px;
  height: 20px;
  display: block;
}

/* ---- HEADER ----- */

header {
  background-image: url(../Images/homepage-header.jpg);
  background-size: 100%;
  background-position: top right;
  padding: 5em 0;
}

h1 {
  color: #47150a;
  font-family: "Italiana", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0;
}

header p {
  margin: 0;
  font-size: 1.17rem;
  max-width: 90%;
}

.main-title {
  padding: 3.5em 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  max-width: 62%;
  border-radius: 0px 360px 360px 0px;
  background: rgba(255, 255, 255, 0.93);
  box-shadow: 0px 0px 4.1px 0px #868174;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  max-width: 72%;
  margin-left: 9em;
  margin-right: 0;
}

/* ---- SECTION 1 ----- */

h2 {
  margin: 0;
  color: #a18c74;
  font-family: "Fjalla One", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.section-1 p {
  text-align: justify;
}

.section-1-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-1-container .col-2 {
  max-width: 33%;
}

.section-1-container .col-1 {
  max-width: 62%;
}

/* ---- SECTION 2 ----- */

.section-2 {
  margin: 3em auto;
  background-image: url(../Images/section-2-image.jpg);
  background-size: 100%;
  background-position: 50%;
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  isolation: isolate;
  padding: 0;
}

.section-2::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: #d2cbaf;
  opacity: 50%;
}

.section-2-container {
  margin: 0 auto;
  max-width: 45%;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 2em;
}

/* ---- SECTION 3 ----- */

.pic-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pic-row img {
  width: 17.6em;
  height: 12em;
}

.section-3 h2 {
  margin-bottom: 0.8em;
}

.section-3 p {
  text-align: justify;
}

/* ---- SECTION 3 BUTTON ----- */

.button-container {
  margin-top: 3em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container a {
  color: white;
  background-color: #47150a;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5em 1.2em;
  border-radius: 360px;
  font-size: 1.3rem;
}

.button-container a:hover,
.button-container a:focus {
  color: #47150a;
  background-color: #d2cbaf;
  border: 1px solid #47150a;
}

/* ---- FOOTER ----- */

footer {
  background: #d2cbaf;
  color: #868174;
}

.footer-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .footer-container {
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
  }
}

.col {
  max-width: 30%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .col {
    max-width: 80%;
    margin: 0;
  }

  .col-3 {
    margin-bottom: 1.7em;
  }

  .col-2 {
    margin-bottom: 1.7em;
  }
}

.col-title {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.col-title p {
  margin: 0;
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer-container ul {
  padding-inline-start: 0;
  margin: 0;
}

.footer-container li {
  list-style: none;
}

.col-2 a {
  text-decoration: none;
  color: #868174;
}

.col-2 a:hover,
.col-2 a:focus {
  text-decoration: none;
  color: #868174;
}

.col-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container img {
  width: 30px;
  height: auto;
  margin: 0 1em;
}
