/*fonts*/
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

footer {
  background: #d2cbaf;
  color: #868174;
}

.col-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul li {
  list-style: none;
}
